body {
    background: linear-gradient(
      to right,
      rgba(230, 230, 230, 0.801),
      rgba(117, 117, 117, 0.801)
    );
    background-size: 150%, 150%;
    font-family: "Alegreya Sans SC", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    display: block;
    text-align: center;
    margin: 0 auto;
    padding: 0;
  }